.fieldtrips {
	background-color: black;
	color: white;
	padding: 30px;
}
.fieldtrips_headingSection {
	margin: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
.fieldtrips_heading > h2 {
	font-size: 32px;
	line-height: 36px;
}

.fieldtrips_heading > p {
	font-size: 16px;
	line-height: 20px;
}

.fieldtrips_headingAnchor > a {
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	outline: none;
	padding: 7px 15px;
	border-color: white;
	background: transparent;
	color: white;
}
.fieldtrips_headingAnchor > a:hover {
	background: rgba(255, 255, 255, 0.4);
}

.fieldtrips_infoSection {
	margin: 20px 50px;
	padding-top: 20px;
}

.big_sections {
	display: flex;
	max-width: 1760px;
	max-height: 780px;
}
.card_one,
.card_two,
.card_three,
.card_four {
	position: relative;
	border-radius: 16px;
}
.card_one,
.big_sectionsCards {
	max-width: 100%;
	max-height: 780px;
}
.card_one {
	margin-right: 10px;
	overflow: hidden;
}
.big_sectionsCards {
	margin-left: 10px;
	max-height: 780px !important;
}

.image {
	max-width: 100%;
	max-height: 100%;
	min-height: 1px;
}

.image > img {
	border-radius: 16px;
	vertical-align: bottom;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover !important;
}

.small_sectionCards,
.card_four {
	max-width: 100%;
	max-height: 360px;
	overflow: hidden;
}

.small_sectionCards {
	margin-bottom: 20px;
}
.card_four {
	margin-top: 20px;
}
.card_four .image > img {
	width: 100%;
	max-height: 360px;
}
.small_sectionCards {
	display: flex;
	max-width: 820px;

	max-height: 400px;
}
.card_two,
.card_three {
	max-width: 400px;
	width: 100%;
	max-height: 100%;
}
.card_two {
	margin-right: 10px;
}
.card_three {
	margin-left: 10px;
}

.card_text {
	position: absolute;
	background-color: black;
	bottom: -5px;
	right: 0;
	left: 0;
	font-size: 16px;
	border-radius: 0px 0px 16px 16px;
	font-weight: 600;
	min-height: 40px;
	padding: 16px;
	background-color: rgb(34, 34, 34);
}
